<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')"></head>

<body>
  <nav th:replace="fragments/common :: menu('board')"></nav>
  <div class="container">
    <h1>게시판</h1>
    <form class="row g-3 d-flex justify-content-end" method="GET" th:action="@{/board/list}">
      <div class="col-auto">
        <label for="searchText" class="visually-hidden">검색</label>
        <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-light mb-3">검색</button>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boards}">
        <td th:text="${board.id}">1</td>
        <td ><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">update</a></td>
        <td th:text="${board.content}">mdo</td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber+1} ? 'disabled'">
          <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1})}" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        <li class="page-item" th:classappend="${i == boards.pageable.pageNumber+1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
          <a class="page-link" href="#" th:href="@{/board/list(page=${i - 1})}" th:text="${i}">1</a></li>
        <li class="page-item">
          <a class="page-link" th:classappend="${boards.totalPages == boards.pageable.pageNumber+1} ? 'disabled'"
             href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1})}" >다음</a>
        </li>
      </ul>
    <div class="text-end">
      <a type="button" class="btn btn-primary" th:href="@{/board/form}">글쓰기</a>
    </div>
  </div>

  <footer th:replace="fragments/common :: footer">
</body>

</html>